.container {
    max-width: 600px;
    margin: 50px auto ;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #eef;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list li {
    margin: 10px 0;
    background-color: #e4e4fd;
    padding: 12px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
  }
  
  .list li:hover {
    background-color: #dde;
  }
  
  .list a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    display: block;
  }
  